.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  width: 200;
  height: 100;
  align: center;
}

.button:hover {
  background-color: #02bfff;
  color: white;
}
