Django==2.2.18
mysqlclient==1.4.2.post1
pytz==2019.1
sqlparse==0.3.0
Django==2.2.18
django-tables2==2.0.6
mock==3.0.5
mysqlclient==1.4.2.post1
numexpr==2.6.9
numpy==1.16.4
pytz==2019.1
six==1.12.0
sqlparse==0.3.0
tables==3.5.2
