{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'tours/style.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'basket/basket.css' %}"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basket</title>
</head>
<body>
<h2 align="center"> Ordered tours: </h2>
<table>
<tr>
    <th>Name</th>
    <th>Price</th>
    <th>Action</th>
</tr>

{% for columns in ordered_tours %}
    <tr >
        <td align="center">{{ columns.0 }}</td>
        <td align="center">{{ columns.1 }}</td>
        <td align="center">
            <div align="left">
            <a href="{% url 'order' %}?tour_name={{ columns.0 }}">
                <img src="/static/basket/confirm.png" width="50" height="50">
            </a>
            </div>
            <div align="right">
            <form method='post' action="{% url 'delete_from_basket' %}">
                {% csrf_token %}
                <input type="hidden" value="{{ columns.0 }}" name="tour_name">
                <input id="delete" type="submit" value="">
            </form>
            </div>
        </td>
    </tr>
{% endfor %}

</table>
</body>
</html>
