{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'tours/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'tours/buttons.css' %}" />
<html>
<body>
<h1 align="center"> Hello!!! Let's choose tour of you dream ! </h1>
<h2 align="center"> Available tours: </h2>
<div align="center">
    <a href="/tours/"><button class="button">All tours</button></a>
    <a href="/tours/bus/"><button class="button">Show Bus Tours</button></a>
    <a href="/tours/plane/"><button class="button">Show Plane Tours</button></a>
    <a href="/tours/train/"><button class="button">Show Train Tours</button></a>
</div>
<form method='post' action="{% url 'add_to_basket' %}">
    {% csrf_token %}
    <table>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th>Available seats</th>
    </tr>

    {% for columns in tours %}
        <tr >
            <td>
                <input type="checkbox" name="chosen" value="{{ columns.0 }}"/>
            </td>
            <td align="center">
                <a href="basket">{{ columns.0 }}</a>
            </td>
            <td align="center">{{ columns.1 }}</td>
            <td align="center">{{ columns.2 }}</td>
        </tr>
    {% endfor %}

    </table>
    <div align="center">
        <input type="submit" value="Order tour" class="button">
    </div>
</form>

<div class="backet">
    <button><a href="basket"><img src="/static/tours/basket.png" width="100" height="100"/></a></button>
</div>
</body>
</html>
