{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'tours/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'tours/buttons.css' %}" />
<html>
<body>
<h1 align="center"> Hello!!! Let's choose tour of you dream ! </h1>
<h2 align="center"> Available tours: </h2>
<form method='post' action="{% url 'edit_tour' %}">
    {% csrf_token %}
    <table>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th>Available seats</th>
    </tr>

    {% for columns in tours %}
        <tr >
            <td>
                <input type="checkbox" name="chosen" value="{{ columns.0 }}"/>
            </td>
            <td align="center">
                <a href="basket">{{ columns.0 }}</a>
            </td>
            <td align="center">{{ columns.1 }}</td>
            <td align="center">{{ columns.2 }}</td>
        </tr>
    {% endfor %}

    </table>
    <div align="center">
        <input type="submit" value="Edit tour" class="button">
    </div>
</form>

<div align="center">
<form action="{% url 'logout' %}" method='GET'>
<a href="/tours/"><button class="button" type='submit'>Logout</button></a>
</form>
</div>
</body>
</html>
